---
layout: default
---
{%- assign assets_path = "assets/" -%}
{%- if site.assets_path -%}
  {%- assign assets_path = site.assets_path -%}
{%- endif -%}
    {% assign ws = '' %}
    <!-- Header -->
    <header class="masthead">
      <div id="video-container">
      </div>
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{% t intro.lead-in %}</div>
          <div class="intro-heading text-uppercase">{% t intro.heading %}</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">{% t intro.btn %}</a>
        </div>
      </div>
    </header>

    <!-- About -->
    <section  class="bg-light" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% t about.heading %}</h2>
            <h3 class="section-subheading text-muted">{% t about.subheading %}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              {%- for time in site.translations[site.lang]["about"].timeline -%}
              {% assign ws = '' %}
              <li{% cycle '', ' class="timeline-inverted"' %}>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="{{ assets_path }}{{ time.image }}" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>{{ time.date }}</h4>
                    <h4 class="subheading">{{ time.title }}</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">{{ time.text  }}</p>
                  </div>
                </div>
              </li>
              {%- endfor -%}
              {% assign ws = '' %}
              {%- if site.translations[site.lang]["about"].end1 and
                     site.translations[site.lang]["about"].end2 and
                     site.translations[site.lang]["about"].end3 -%}
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>
                      {% t about.end1 %}<br>
                      {% t about.end2 %}<br>
                      {% t about.end3 %}
                  </h4>
                </div>
              </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- News -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% t news.heading %}</h2>
            <h3 class="section-subheading text-muted">{% t news.subheading %}</h3>
          </div>
        </div>
        <div class="row">
          <div style="margin: auto">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FKibioctet%2Fposts%2F180129342939758&width=500" width="500" height="561" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% t portfolio.heading %}</h2>
            <h3 class="section-subheading text-muted">{% t portfolio.heading %}</h3>
          </div>
        </div>
        <div class="row">
          {%- for project in site.translations[site.lang]["projects"] -%}
          {% assign ws = '' %}
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ project.id | replace: '/projects/', '' }}">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{{ assets_path }}{{ project.thumbnail }}" alt="">
            </a>
            <div class="portfolio-caption">
              <h4>{{ project.client }}</h4>
              <p class="text-muted">{{ project.category }}</p>
            </div>
          </div>
          {% endfor %}
        {% assign ws = '' %}
        </div>
      </div>
    </section>

    <!-- Team -->
    <section id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% t portfolio.heading %}</h2>
            <h3 class="section-subheading text-muted">{% t portfolio.subheading %}</h3>
          </div>
        </div>
        <div class="row">
          {%- for member in site.translations[site.lang]["team"].members -%}
          {% assign ws = '' %}
          <div class="col-sm-4">
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="{{ assets_path }}{{ member.img }}" alt="">
              <h4>{{ member.name }}</h4>
              <p class="text-muted">{{ member.role }}</p>
              <ul class="list-inline social-buttons">
                {%- for sm in member.social-buttons -%}
                {% assign ws = '' %}
                <li class="list-inline-item">
                  <a href="{{ sm.url }}">
                    <i class="{{ sm.icon }}"></i>
                  </a>
                </li>
                {%- endfor -%}
              {% assign ws = '' %}
              </ul>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">{% t team.text %}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Services -->
    <section class="bg-light" id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% t services.heading %}</h2>
            <h3 class="section-subheading text-muted">{% t services.subheading %}</h3>
          </div>
        </div>
        <div class="row text-center">
          {%- for service in site.translations[site.lang]["services"].service -%}
          {% assign ws = '' %}
          <div class="col-md-4" style="padding: 0">
            <div class="service-div">
              <div class="service-row">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="{{ service.icon }} fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ service.heading }}</h4>
              </div>
              <div class="service-row">
                <p class="text-muted">{{ service.text }}</p>
              </div>
              <div class="service-row">
                <ul style="list-style: none">
                  {%- for arguments in service.arguments -%}
                  {% assign ws = '' %}
                  <li style="display:flex; justify-content: left">
                    <span><i class="fa fa-check" aria-hidden="true"></i></span>
                    <span>&nbsp;{{ arguments.argument }} </span>
                  </li>
                  {%- endfor -%}
                  {% assign ws = '' %}
                </ul>
              </div>
              <div class="service-row">
                <h4>{{ service.price }}</h4>
                <span style="font-weight: bold; color: red">{{ service.special-offer }}</span>
              </div>
              <div class="service-row">
                <a class="btn btn-success js-scroll-trigger" href="#contact" >{% t services.demo  %}</a>
              </div>
            </div>
          </div>
          {%- endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>

    <!-- Clients -->
    <section class="py-5">
      <div class="container">
        <div class="row">
          {%- for client in site.translations[site.lang]["clients"] -%}
          {% assign ws = '' %}
          <div class="col-md-3 col-sm-6">
            <a href="{{ client.url }}">
              <img class="img-fluid d-block mx-auto" style="max-height:100px ; max-width:150px" src="{{ assets_path }}{{ client.img }}" alt="">
            </a>
          </div>
          {%-  endfor -%}
        {% assign ws = '' %}
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{% t contact.heading %}</h2>
            <h3 class="section-subheading" style="color: #DDD">{% t contact.subheading %}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form id="contactForm" name="sentMessage" novalidate="novalidate">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input class="form-control" id="name" type="text" placeholder="{% t contact.name %}" required="required" data-validation-required-message="{% t contact.name-required %}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="email" placeholder="{% t contact.email %}" required="required" data-validation-required-message="{% t contact.email-required %}">
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="phone" type="tel" placeholder="{% t contact.phone %}" required="required" data-validation-required-message="{% t contact.phone-required %}">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="{% t contact.message %}" required="required" data-validation-required-message="{% t contact.message-required %}"></textarea>
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">{% t contact.btn %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
</section>
